flows (1).json
[{"id":"67e8440d.75045c","type":"tab","label":"Flow 22","disabled":false,"info":""},{"id":"4cc52969.0eafa8","type":"inject","z":"67e8440d.75045c","name":"value gen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":580,"wires":[["e3589c61.5796a"]]},{"id":"e3589c61.5796a","type":"function","z":"67e8440d.75045c","name":"random gen","func":"var a=Math.round(Math.random()*4095);\nvar b=Math.round(Math.random()*4095);\nvar c=Math.round(Math.random()*20)+20;\nvar d=Math.round(Math.random()*100000);\nvar e=Math.round(Math.random()*1);\nvar f1=Math.round(Math.random()*15);\nvar on=\"ON\";\nvar off=\"OFF\";\nvar L1;\nvar L2;\nvar f;\nvar ac;\nvar tl;\nif(a<3000 && f1>=10)\n{\n    L1 = on;\n}\nelse if(a>=3000 || f1<10)\n{\n    L1 = off;\n}\nif(b<2000 && f1>=10)\n{\n    L2 = on;\n}\nelse if(b>=2000 || f1<10)\n{\n    L2 = off;\n}\nif(c>=25&&c<=30  && f1>=10)\n{\n    f = on;\n}\nelse if(c<=25||c>=30  || f1<10)\n{\n    f = off;\n}\nif(c>30 && f1>=10)\n{\n    ac= on;\n}\nelse if(c<=30 || f1<10)\n{\n    ac = off;\n}\nif(d>60000)\n{\n    tl = on;\n}\nelse if(d<=60000)\n{\n    tl= off;\n}\nmsg.payload={\"l1\":L1,\"l2\":L2,\"f\":f,\"ac\":ac,\"tl\":tl};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":580,"wires":[["46914ea2.dfbe7"]]},{"id":"1920c36e.61225d","type":"sqlite","z":"67e8440d.75045c","mydb":"592b0b18.ea15c4","sqlquery":"msg.topic","sql":"","name":"","x":670,"y":500,"wires":[["2a4b184.41a6ee8"]]},{"id":"ea2a1ea.a6650e","type":"inject","z":"67e8440d.75045c","name":"create table status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"CREATE TABLE Status(l1s varchar(255),l2s varchar(255),acs varchar(255),fs varchar(255),tls varchar(255));","payload":"","payloadType":"date","x":230,"y":380,"wires":[["1920c36e.61225d"]]},{"id":"46914ea2.dfbe7","type":"function","z":"67e8440d.75045c","name":"insert status","func":"var payload=msg.payload;\nvar a=payload[\"l1\"];\nvar b=payload[\"l2\"];\nvar c=payload[\"f\"];\nvar d=payload[\"ac\"];\nvar e=payload[\"tl\"];\nvar n={\"topic\":\"INSERT INTO Status(l1s,l2s,fs,acs,tls) values(\\'\"+a+\"\\',\"+\"\\'\"+b+\"\\',\"+\"\\'\"+c+\"\\',\"+\"\\'\"+d+\"\\',\"+\"\\'\"+e+\"\\')\"};\nreturn n;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":580,"wires":[["1920c36e.61225d"]]},{"id":"64435659.7cf6d8","type":"inject","z":"67e8440d.75045c","name":"create table power","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"CREATE TABLE Power(l1p varchar(255),l2p varchar(255),acs varchar(255),fs varchar(255),tls varchar(255));","payload":"","payloadType":"date","x":230,"y":420,"wires":[["1920c36e.61225d"]]},{"id":"a7fa7b0a.a8ea88","type":"function","z":"67e8440d.75045c","name":"count query","func":"var n={\"topic\":\"SELECT SUM(CASE WHEN l1s == 'ON' THEN 1 ELSE 0 END) AS l1c,SUM(CASE WHEN l2s == 'ON' THEN 1 ELSE 0 END) AS l2c ,SUM(CASE WHEN fs == 'ON' THEN 1 ELSE 0 END) AS fc ,SUM(CASE WHEN acs == 'ON' THEN 1 ELSE 0 END) AS acc ,SUM(CASE WHEN tls == 'ON' THEN 1 ELSE 0 END) AS tlc FROM Status\"};\nreturn n;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":620,"wires":[["1920c36e.61225d"]]},{"id":"101285a8.477f7a","type":"inject","z":"67e8440d.75045c","name":"count query","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":620,"wires":[["a7fa7b0a.a8ea88"]]},{"id":"2904d93e.aff3e6","type":"function","z":"67e8440d.75045c","name":"insert power","func":"var a = (msg.payload[0].l1c)*60/100;\nvar b = (msg.payload[0].l2c)*60/100;\nvar c = (msg.payload[0].fc)*75/1000;\nvar d = (msg.payload[0].acc)*945/1000;\nvar e = (msg.payload[0].tlc)*19/1000;\nvar n={\"topic\":\"INSERT INTO Power(l1p,l2p) values(\\'\"+a+\"\\',\"+\"\\'\"+b+\"\\',\"+\"\\'\"+c+\"\\',\"+\"\\'\"+d+\"\\',\"+\"\\'\"+e+\"\\')\"};\nreturn n;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":840,"wires":[["6aed68a8.8b6408"]]},{"id":"6aed68a8.8b6408","type":"sqlite","z":"67e8440d.75045c","mydb":"592b0b18.ea15c4","sqlquery":"msg.topic","sql":"","name":"","x":1450,"y":840,"wires":[[]]},{"id":"c347e384.acf9","type":"function","z":"67e8440d.75045c","name":"show power","func":"var a = (msg.payload[0].l1c)*60/1000;\nvar b = (msg.payload[0].l2c)*60/1000;\nvar c = (msg.payload[0].fc)*75/1000;\nvar d = (msg.payload[0].acc)*945/1000;\nvar e = (msg.payload[0].tlc)*19/1000;\nvar pf=a+b+c+d+e;\nmsg.payload=pf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":740,"wires":[["2be4aba5.adcbe4","5b29c541.de9b5c"]]},{"id":"50f27a72.e9e944","type":"inject","z":"67e8440d.75045c","name":"delete table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"25","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":700,"wires":[["3445f89d.0a2dd8","119ec6a7.7a5619"]]},{"id":"3445f89d.0a2dd8","type":"function","z":"67e8440d.75045c","name":"","func":"var del = {\"topic\":\"DELETE FROM Status;\"}; \nreturn del;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":660,"wires":[["1920c36e.61225d"]]},{"id":"119ec6a7.7a5619","type":"function","z":"67e8440d.75045c","name":"","func":"var del = {\"topic\":\"DELETE FROM Power;\"}; \nreturn del;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":740,"wires":[["1920c36e.61225d"]]},{"id":"2be4aba5.adcbe4","type":"ui_text","z":"67e8440d.75045c","group":"2101f389.8d3d6c","order":16,"width":0,"height":0,"name":"","label":"total power","format":"{{msg.payload}}","layout":"row-spread","x":1450,"y":700,"wires":[]},{"id":"c655fdac.7dd2b","type":"inject","z":"67e8440d.75045c","name":"day end count","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"24","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":920,"wires":[["88548ad2.fe3548"]]},{"id":"b730e121.decce","type":"function","z":"67e8440d.75045c","name":"insert test1","func":"var a = (msg.payload[0].l1c)*60/100;\nvar b = (msg.payload[0].l2c)*60/100;\nvar c = (msg.payload[0].fc)*75/1000;\nvar d = (msg.payload[0].acc)*945/1000;\nvar e = (msg.payload[0].tlc)*19/1000;\nvar pf=a+b+c+d+e;\nvar time=new Date();\nvar n={\"topic\":\"INSERT INTO test1(eodpower,time) values(\\'\"+pf+\"\\',\"+\"\\'\"+time+\"\\')\"};\nreturn n;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":920,"wires":[["544ab63f.d2ba48"]]},{"id":"544ab63f.d2ba48","type":"sqlite","z":"67e8440d.75045c","mydb":"592b0b18.ea15c4","sqlquery":"msg.topic","sql":"","name":"","x":990,"y":920,"wires":[[]]},{"id":"3e22a1bb.72eb6e","type":"sqlite","z":"67e8440d.75045c","mydb":"592b0b18.ea15c4","sqlquery":"msg.topic","sql":"","name":"","x":550,"y":920,"wires":[["b730e121.decce","4a09d41d.5d69bc"]]},{"id":"e37bc5d5.481fa8","type":"inject","z":"67e8440d.75045c","name":"create table powerday","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"CREATE TABLE test(p varchar(255));","payload":"","payloadType":"date","x":240,"y":340,"wires":[["1920c36e.61225d"]]},{"id":"3b1edf3e.d9c4a","type":"function","z":"67e8440d.75045c","name":"show power l1","func":"var a = (msg.payload[0].l1c)*60/1000\nmsg.payload=a\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":100,"wires":[["9ec24e22.251ff","f0701404.592308"]]},{"id":"f97fb8b2.565828","type":"function","z":"67e8440d.75045c","name":"show power l2","func":"var b = (msg.payload[0].l2c)*60/1000\nmsg.payload=b;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":200,"wires":[["65527f48.09255","bc54e0a.6e29d2"]]},{"id":"9ec24e22.251ff","type":"ui_text","z":"67e8440d.75045c","group":"581c99c8.8011b8","order":1,"width":0,"height":0,"name":"","label":"power of l1","format":"{{msg.payload}}","layout":"row-spread","x":1310,"y":40,"wires":[]},{"id":"65527f48.09255","type":"ui_text","z":"67e8440d.75045c","group":"914f8a30.4e2078","order":1,"width":0,"height":0,"name":"","label":"power of l2","format":"{{msg.payload}}","layout":"row-spread","x":1370,"y":180,"wires":[]},{"id":"f0701404.592308","type":"ui_chart","z":"67e8440d.75045c","name":"","group":"581c99c8.8011b8","order":2,"width":0,"height":0,"label":"l1 power chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#e6842d","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1320,"y":120,"wires":[[]]},{"id":"bc54e0a.6e29d2","type":"ui_chart","z":"67e8440d.75045c","name":"","group":"914f8a30.4e2078","order":20,"width":0,"height":0,"label":"l2 power chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1380,"y":220,"wires":[[]]},{"id":"5b29c541.de9b5c","type":"ui_chart","z":"67e8440d.75045c","name":"","group":"2101f389.8d3d6c","order":18,"width":0,"height":0,"label":"total power chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1460,"y":740,"wires":[[]]},{"id":"a50c4b6.6e7e6b8","type":"ui_chart","z":"67e8440d.75045c","name":"","group":"25732b62.e11aa4","order":18,"width":0,"height":0,"label":"end of day power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1000,"y":860,"wires":[[]]},{"id":"3a617c3a.c53394","type":"function","z":"67e8440d.75045c","name":"show power f","func":"var b = (msg.payload[0].fc)*75/1000\nmsg.payload=b;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":380,"wires":[["8aa2c8db.08aff8","9d4abe5b.755b3"]]},{"id":"8aa2c8db.08aff8","type":"ui_text","z":"67e8440d.75045c","group":"ebdfe20a.5b33b","order":1,"width":0,"height":0,"name":"","label":"power of f","format":"{{msg.payload}}","layout":"row-spread","x":1440,"y":300,"wires":[]},{"id":"9d4abe5b.755b3","type":"ui_chart","z":"67e8440d.75045c","name":"","group":"ebdfe20a.5b33b","order":20,"width":0,"height":0,"label":"f power chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1450,"y":340,"wires":[[]]},{"id":"7710b7e4.9d1c48","type":"function","z":"67e8440d.75045c","name":"show power ac","func":"var b = (msg.payload[0].acc)*945/1000\nmsg.payload=b;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":520,"wires":[["b8b5df2e.ab12f","8148b90.5af4e48"]]},{"id":"b8b5df2e.ab12f","type":"ui_text","z":"67e8440d.75045c","group":"ffdd8d0a.9bd32","order":1,"width":0,"height":0,"name":"","label":"power of ac","format":"{{msg.payload}}","layout":"row-spread","x":1470,"y":420,"wires":[]},{"id":"8148b90.5af4e48","type":"ui_chart","z":"67e8440d.75045c","name":"","group":"ffdd8d0a.9bd32","order":20,"width":0,"height":0,"label":"ac power chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1480,"y":460,"wires":[[]]},{"id":"6a2e01b5.b3ec8","type":"function","z":"67e8440d.75045c","name":"show power tl","func":"var b = (msg.payload[0].tlc)*19/1000\nmsg.payload=b;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":640,"wires":[["ad4ebd9f.3abe8","2d482fd5.24989"]]},{"id":"ad4ebd9f.3abe8","type":"ui_text","z":"67e8440d.75045c","group":"50274a88.fa3814","order":1,"width":0,"height":0,"name":"","label":"power of tl","format":"{{msg.payload}}","layout":"row-spread","x":1490,"y":560,"wires":[]},{"id":"2d482fd5.24989","type":"ui_chart","z":"67e8440d.75045c","name":"","group":"50274a88.fa3814","order":20,"width":0,"height":0,"label":"table light power chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1540,"y":600,"wires":[[]]},{"id":"88548ad2.fe3548","type":"function","z":"67e8440d.75045c","name":"count query","func":"var n={\"topic\":\"SELECT SUM(CASE WHEN l1s == 'ON' THEN 1 ELSE 0 END) AS l1c,SUM(CASE WHEN l2s == 'ON' THEN 1 ELSE 0 END) AS l2c ,SUM(CASE WHEN fs == 'ON' THEN 1 ELSE 0 END) AS fc ,SUM(CASE WHEN acs == 'ON' THEN 1 ELSE 0 END) AS acc ,SUM(CASE WHEN tls == 'ON' THEN 1 ELSE 0 END) AS tlc FROM Status\"};\nreturn n;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":920,"wires":[["3e22a1bb.72eb6e"]]},{"id":"4a09d41d.5d69bc","type":"function","z":"67e8440d.75045c","name":"show power","func":"var a = (msg.payload[0].l1c)*60/1000;\nvar b = (msg.payload[0].l2c)*60/1000;\nvar c = (msg.payload[0].fc)*75/1000;\nvar d = (msg.payload[0].acc)*945/1000;\nvar e = (msg.payload[0].tlc)*19/1000;\nvar pf=a+b+c+d+e;\nmsg.payload=pf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":780,"wires":[["a50c4b6.6e7e6b8","10182cd.21a55d3","766eb5e0.ce113c"]]},{"id":"2a4b184.41a6ee8","type":"mqtt out","z":"67e8440d.75045c","name":"","topic":"smartmeter","qos":"","retain":"","broker":"2989318f.f7b9fe","x":900,"y":500,"wires":[],"icon":"node-red-contrib-smartmeter/gauge.png"},{"id":"a029927a.c64fe","type":"mqtt in","z":"67e8440d.75045c","name":"","topic":"smartmeter","qos":"2","datatype":"json","broker":"2989318f.f7b9fe","x":880,"y":440,"wires":[["3b1edf3e.d9c4a","f97fb8b2.565828","3a617c3a.c53394","7710b7e4.9d1c48","6a2e01b5.b3ec8","c347e384.acf9","2904d93e.aff3e6","8e521922.339f38"]],"icon":"node-red-contrib-smartmeter/gauge.png"},{"id":"8e521922.339f38","type":"function","z":"67e8440d.75045c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":300,"wires":[[]]},{"id":"10182cd.21a55d3","type":"file","z":"67e8440d.75045c","name":"","filename":"C:\\Users\\siddharth\\Desktop\\io\\sid.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1090,"y":780,"wires":[[]]},{"id":"7768eb98.affaa4","type":"inject","z":"67e8440d.75045c","name":"test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"CREATE TABLE test1(date INTEGER PRIMARY KEY AUTOINCREMENT, eodpower VARCHAR(255),time VARCHAR(255));","payload":"","payloadType":"date","x":230,"y":500,"wires":[["1920c36e.61225d"]]},{"id":"c3143ccf.44b7d","type":"inject","z":"67e8440d.75045c","name":"insert beginning","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"INSERT INTO test1(date,eodpower,time) VALUES(0,0);","payload":"","payloadType":"date","x":260,"y":540,"wires":[["1920c36e.61225d"]]},{"id":"d9f5f8f9.4098e8","type":"ui_numeric","z":"67e8440d.75045c","name":"","label":"numeric","tooltip":"","group":"4b0b8339.deda9c","order":23,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"12","step":1,"x":160,"y":160,"wires":[["c3037f17.cec8c"]]},{"id":"c3037f17.cec8c","type":"function","z":"67e8440d.75045c","name":"","func":"var n=msg.payload;\nvar a;\nif(n===1)\n{\n     a={\"topic\":\"SELECT SUM(eodpower)AS su FROM test1 WHERE date>=1 AND date<=31\"};\n\n}\nif(n===2)\n{\n     a={\"topic\":\"SELECT SUM(eodpower)AS su FROM test1 WHERE date>31 AND date<=59\"};\n\n}\nif(n===3)\n{\n a={\"topic\":\"SELECT SUM(eodpower)AS su FROM test1 WHERE date>59 AND date<=90\"};\n\n}\nif(n===4)\n{\n a={\"topic\":\"SELECT SUM(eodpower)AS su FROM test1 WHERE date>90 AND date<=120\"};\n\n}\nif(n===5)\n{\n a={\"topic\":\"SELECT SUM(eodpower)AS su FROM test1 WHERE date>120 AND date<=151\"};\n\n}\nif(n===6)\n{\n a={\"topic\":\"SELECT SUM(eodpower)AS su FROM test1 WHERE date>151 AND date<=181\"};\n\n}\nif(n===7)\n{\n a={\"topic\":\"SELECT SUM(eodpower)AS su FROM test1 WHERE date>181 AND date<=212\"};\n\n}\nif(n===8)\n{\na={\"topic\":\"SELECT SUM(eodpower)AS su FROM test1 WHERE date>212 AND date<=243\"};\n\n}\nif(n===9)\n{\n a={\"topic\":\"SELECT SUM(eodpower)AS su FROM test1 WHERE date>243 AND date<=273\"};\n\n}\nif(n===10)\n{\n a={\"topic\":\"SELECT SUM(eodpower)AS su FROM test1 WHERE date>273 AND date<=304\"};\n\n}\nif(n===11)\n{\n a={\"topic\":\"SELECT SUM(eodpower)AS su FROM test1 WHERE date>304 AND date<=334\"};\n\n}\nif(n===12)\n{\n a={\"topic\":\"SELECT SUM(eodpower)AS su FROM test1 WHERE date>=334 AND date<=365\"};\n\n}\nreturn a;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":160,"wires":[["bee2e041.d185d"]]},{"id":"bee2e041.d185d","type":"sqlite","z":"67e8440d.75045c","mydb":"592b0b18.ea15c4","sqlquery":"msg.topic","sql":"","name":"","x":450,"y":220,"wires":[["8cefc401.27aec8","9fdc2575.56c728"]]},{"id":"8cefc401.27aec8","type":"ui_text","z":"67e8440d.75045c","group":"4b0b8339.deda9c","order":24,"width":0,"height":0,"name":"","label":"Month POWER","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":220,"wires":[]},{"id":"9fdc2575.56c728","type":"function","z":"67e8440d.75045c","name":"","func":"\nvar a = (msg.payload[0].su);\nmsg.payload=a;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":280,"wires":[["bdc4a00d.69921"]]},{"id":"bdc4a00d.69921","type":"ui_chart","z":"67e8440d.75045c","name":"","group":"4b0b8339.deda9c","order":2,"width":"6","height":"8","label":"Month power","chartType":"horizontalBar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":280,"wires":[[]]},{"id":"766eb5e0.ce113c","type":"ThingspeakSendSimple","z":"67e8440d.75045c","name":"EOD Power","writekey":"B5U001DXPC1LFGV1","fieldid":"1","x":810,"y":840,"wires":[]},{"id":"592b0b18.ea15c4","type":"sqlitedb","z":"","db":"C:\\Users\\siddharth\\df7.db","mode":"RWC"},{"id":"2101f389.8d3d6c","type":"ui_group","z":"","name":"Total Power","tab":"78d8149e.53071c","order":6,"disp":true,"width":"6","collapse":false},{"id":"581c99c8.8011b8","type":"ui_group","z":"","name":"Device-Light 1","tab":"78d8149e.53071c","order":1,"disp":true,"width":"6","collapse":false},{"id":"914f8a30.4e2078","type":"ui_group","z":"","name":"Device- Light 2","tab":"78d8149e.53071c","order":2,"disp":true,"width":"6","collapse":false},{"id":"25732b62.e11aa4","type":"ui_group","z":"","name":"End of Day Power","tab":"78d8149e.53071c","order":7,"disp":true,"width":"6","collapse":false},{"id":"ebdfe20a.5b33b","type":"ui_group","z":"","name":"Device-Fan ","tab":"78d8149e.53071c","order":3,"disp":true,"width":"6","collapse":false},{"id":"ffdd8d0a.9bd32","type":"ui_group","z":"","name":"Device-AC","tab":"78d8149e.53071c","order":4,"disp":true,"width":"6","collapse":false},{"id":"50274a88.fa3814","type":"ui_group","z":"","name":"Device-Table Lamp","tab":"78d8149e.53071c","order":5,"disp":true,"width":"6","collapse":false},{"id":"2989318f.f7b9fe","type":"mqtt-broker","z":"","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4b0b8339.deda9c","type":"ui_group","z":"","name":"End of month Power","tab":"78d8149e.53071c","order":8,"disp":true,"width":"6","collapse":false},{"id":"78d8149e.53071c","type":"ui_tab","z":"","name":"Smart Meter Home","icon":"dashboard","order":6,"disabled":false,"hidden":false}]